
<div class="form-group">
    <div class="col-md-offset-8 col-md-4">
        <span class="pull-right">
            <button class="btn btn-sm btn-primary"> <span class="ladda-label"> <i class="fa fa-save"></i> @ViewBag.SubmitButtonText</span></button>
            <button type="button" onclick="MustangModal.close()" class="btn btn-danger btn-sm"> <i class="fa fa-ban"></i> İptal </button>
        </span>
    </div>
</div>