@model TmTFramework.Entities.Concrete.Servis

@{
    Layout = null;

}

@using (Ajax.BeginForm(null, null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "Basarili" }, new { id = "formKapsayici" }))
{
    @Html.AntiForgeryToken()
    <h4>Servisi Silmek İstediğinize Eminmisiniz?</h4>

   
    <hr />
    @Html.Partial("_FormKaydetIptalPartial", new ViewDataDictionary { { "SubmitButtonText", "Sil" } })

}

@Html.Partial("_PartialCRUDAjaxScriptResponse")

